# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Deep Learning / YOLO weights
*.pt
*.pth
*.onnx
Task145_ForkliftPedestrianCollisionRiskDetection/Models/*.pt

# OS files
.DS_Store
Thumbs.db

# Visual Studio Code / IDEs
.vscode/
.idea/
*.ipynb_checkpoints

# Outputs & Test data
Task145_ForkliftPedestrianCollisionRiskDetection/Outputs/
Task145_ForkliftPedestrianCollisionRiskDetection/Inputs/*.mp4
Task145_ForkliftPedestrianCollisionRiskDetection/Code/synthetic_test.mp4
Task_128_RoadAccidentDetectionSystem/models/epoch61.pt.zip
*.mp4 
*.avi 
*.png 
*.jpg 
*.mp4 
*.avi 
*.png 
*.jpg 
*.pt 
*.h5 
